@page
@model Project_DB.Pages.PasswordModel
@{
}


<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="nav-link text-dark" asp-area="" asp-page="/Password">
            <h1>Set Elkol</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
            </ul>
        </nav><!-- .navbar -->


        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-danger" asp-area="" asp-page="/Index">Log Out</a>

        </div>

    </div>
</header>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />

 

<p>Edit Password</p>

<form method="POST">
        <div class="col-lg-4 col-md-6">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">#</span>
                <input type="text" asp-for="@Model.pass" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="addon-wrapping">

            </div>
        </div>
        <div class="row md-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class=" btn btn-danger">Update</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-danger" href="/" role="button">Cancel</a>
            </div>
        </div>
</form>

</body>
