@page
@model Project_DB.Pages.BendingcshtmlModel
@{
}

<style>
    body {
        background-color: #f8f9fa;
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
        color: #343a40;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th,
    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    thead {
        background-color: #dc3545;
        color: white;
    }

    tbody tr:nth-child(even) {
        background-color: #f8d7da;
    }

    .btn-add-to-cart {
        background-color: #dc3545;
        color: black; /* Set text color to black */
        border: 1px solid #dc3545;
    }

        .btn-add-to-cart:hover {
            background-color: #bd2130;
            border: 1px solid #bd2130;
        }
        
</style>


<br />
<br />
<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Pending Meals</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.orderlist)
        {
            <tr>
                <td>@client.meal_Name</td>
                <td>
                    <button type="submit" class="btn btn-add-to-cart"><a href="/Shared/Done?cooker_id=@client.cooker_Id&&order_id=@client.order_Id">Done</a></button>
                </td>
            </tr>
        }

        <tr>
            <td colspan="2" style="text-align: center;">No More Requests😊😊</td>
        </tr>
    </tbody>
</table>
