@page
@model Project_DB.Pages.ContactModel
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<!-- ======= Contact Section ======= -->
<body id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Contact</h2>
            <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="row gy-4">

            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <a href="https://maps.app.goo.gl/AX12UUxNsYEGWyzV8" target="_blank" rel="noopener noreferrer">
                        <i class="icon bi bi-geo-alt flex-shrink-0 address-icon"></i>
                        <div>
                            <h3>Our Address</h3>
                            <p>A108 Adam Street, Cairo, NY 535022</p>
                        </div>
                    </a>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email Us</h3>
                        <p><a href="mailto:setelkol@gmail.com">setelkol@gmail.com</a></p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Call Us</h3>
                        <p><a href="tel:+201027030625">+20 102 703 0625</a></p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-share flex-shrink-0"></i>
                    <div>
                        <h3>Opening Hours</h3>
                        <div>
                            <strong>Mon-Sat:</strong> 11AM - 23PM;
                            <strong>Sunday:</strong> Closed
                        </div>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>


    </div>
    <br />
    <br />
    <br />
</body><!-- End Contact Section -->

<style>
    .address-icon {
        display: inline-block;
        font-size: 24px; /* Adjust the size as needed */
        margin-right: 5px; /* Adjust the spacing as needed */
        vertical-align: middle;
    }
</style>
