@page
@model Project_DB.Pages.CookersModel
@{
    int number_of_cookers = Model.ids.Count();
}

<br />
<br />
<br />
<body class="chefs section-bg">
    <br />
    <br />
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Cookers</h2>
            <p>Our <span>Proffesional</span> Cookers</p>
        </div>

        <div class="row gy-4">
            @foreach (var cooker in Model.cookers)
            {
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch tab-content" data-aos="fade-up" data-aos-delay="300">
                    <div class="chef-member">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>

                        </div>
                        <div class="member-info">
                            <a asp-page="/Cooker_interface" asp-route-name="@cooker.UserName" asp-route-email="@cooker.Email" asp-route-number="@cooker.Phone_Number"> <h4>@cooker.UserName</h4> </a>
                            <span>Cook</span>
                            <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                        </div>
                    </div>
                </div> 
                <!-- End Chefs Member -->
            }
        </div>

    </div>
</body><!-- End Gallery Section Section -->