@page
@model Project_DB.Pages.customerQAModel
@{
}


<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="nav-link text-dark" asp-area="" asp-page="/index">
            <h1>Set Elkol</h1>
        </a>

        <nav id="navbar" class="navbar">
            
        </nav><!-- .navbar -->

    </div>
</header>

<body id="book-a-table" class="book-a-table">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="container" data-aos="fade-up ">

        <div class="section-header">
            <h2>Sign Up</h2>
            <p>Order<span> Your Food</span> With Us</p>
        </div>

        <div class="row g-0 ">
            <h6>Sorry,We need more info to complete the Sign Up process....</h6>
            <br>
            <br>

            <form method="post" role="form">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="addon-wrapping" asp-for="@Model.customerinfo.city">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="Street" aria-label="street" aria-describedby="addon-wrapping" asp-for="@Model.customerinfo.street">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">#</span>
                            <input type="text" class="form-control" placeholder="Apartment Number" aria-label="Apartment Number" aria-describedby="addon-wrapping" asp-for="@Model.customerinfo.Apartment_Number">
                        </div>
                    </div>


                </div>
                <br />
                <br />
                <br />
                <style>
                    .btngreen {
                        background-color: #E34234; /* change to your desired color */
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        border-radius: 20px; /* adjust the value to control the degree of curvature */
                    }
                </style>

                <button class="btngreen btn-success" type="submit">Sign Up</button>
            </form>
        </div><!-- End Reservation Form -->

    </div>

    <br>
    <br>
    <br>
    <br>
</body>