@page
@model Project_DB.Pages.DeliveryQAModel
@{
}
<body id="book-a-table" class="book-a-table">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" data-aos="fade-up ">

        <div class="section-header">
            <h2>Sign Up</h2>
            <p>Order<span> Your Food</span> With Us</p>
        </div>

        <div class="row g-0 ">


            <form method="post" role="form" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <h6>Sorry,We need more info to complete the Sign Up process....</h6>
                    <h6>Please Be Patient</h6>
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
      
                            <br>
                            <br>
                            <span class="input-group-text" id="addon-wrapping">#</span>
                            <input type="text" class="form-control" placeholder="Vehicle_number" aria-label="Vehicle_number" aria-describedby="addon-wrapping" name="Vehicle_number" value="@Model.Vehicle_number">
                            <br />
                            <br />
                            <br />


                        </div>
                    </div>
                </div> 
                    <a class="text-center" asp-area="" asp-page="/Home"><button type="submit">Sign Up</button></a>
            </form>
        </div><!-- End Reservation Form -->

    </div>

    <br>
    <br>
    <br>
    <br>
</body>