@page
@model Project_DB.Pages.MealInfoModel
@{
}

<br /><br /><br /><br />

<style>

    .btn_add_to_cart {
        background-color: #8b0000; /* Darker Red Color */
        color: #fff; /* Text Color */
        margin-left: 700px;
        padding: 10px 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Rounded Corners */
        border: none; /* Remove Border */
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>
<div class="col-lg-4 minishop-item">
   <img src="~/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
    <h4>Laboriosam Direva</h4>

    <p class="price">
        $9.95
    </p>
</div><!-- Menu Item -->

<button type="button" class="btn_add_to_cart btn-danger">ِAdd To Cart</button>
<br /><br /><br />