@page
@model Project_DB.Pages.MealInfoModel
@{
}

<br /><br /><br /><br />

<style>

    .btn_add_to_cart {
        background-color: #8b0000; /* Darker Red Color */
        color: #fff; /* Text Color */
        margin-left: 700px;
        padding: 10px 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Rounded Corners */
        border: none; /* Remove Border */
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>
<form method="post">
<div class="col-lg-4 minishop-item">
   <img src="~/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
    <h4>@Model.Minishop_name</h4>

    <p class="price">
        @Model.Minishop_price
    </p>
</div><!-- Menu Item -->

    <a class="btn btn_add_to_cart btn-danger"  asp-page="/Cart" asp-route-id ="@Model.id_minishop">Add To Cart</a>

</form>
<br /><br /><br />