@page
@model Project_DB.Pages.MiniShopModel
@{
}
<br />
<br />
<br />
<br />
<br />
<br />

<class id="minishop" class="minishop">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Minishop</h2>
            <p>Check Our <span>Set ElKol </span>Minishop</p>
        </div>



        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="minishop-starters">

                <div class="tab-header text-center">
                    <p>minishop</p>

                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Magnam Tiste</h4>

                        <p class="price">
                            EGP5.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Aut Luia</h4>

                        <p class="price">
                            EGP14.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Est Eligendi</h4>

                        <p class="price">
                            EGP8.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Eos Luibusdam</h4>

                        <p class="price">
                            EGP12.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Eos Luibusdam</h4>

                        <p class="price">
                            EGP12.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 minishop-item">
                        <a asp-page="/MealInfo"><img src="~/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                        <h4>Laboriosam Direva</h4>

                        <p class="price">
                            EGP9.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Starter Menu Content -->




            <br />
            <br />
            <br />
</class><!-- End Menu Section -->