@page
@model Project_DB.Pages.RatingModel
@{
}


<html>

<style>
    .content {
        text-align: center;
    }

        .content h1 {
            font-family: 'Sansita', sans-serif;
            letter-spacing: 1px;
            font-size: 50px;
            color: #282828;
            margin-bottom: 10px;
        }

        .content i {
            color: #FFC107;
        }

        .content span {
            position: relative;
            display: inline-block;
        }

            .content span:before, .content span:after {
                position: absolute;
                content: "";
                background-color: #282828;
                width: 40px;
                height: 2px;
                top: 40%;
            }

            .content span:before {
                left: -45px;
            }

            .content span:after {
                right: -45px;
            }

        .content p {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
        }

    .wrapper {
        position: relative;
        display: inline-block;
        border: none;
        font-size: 14px;
        margin: 50px auto;
        left: 50%;
        transform: translateX(-50%);
    }

        .wrapper input {
            border: 0;
            width: 1px;
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            opacity: 0;
        }

        .wrapper label {
            position: relative;
            float: right;
            color: #C8C8C8;
        }

            .wrapper label:before {
                margin: 5px;
                content: "\f005";
                font-family: FontAwesome;
                display: inline-block;
                font-size: 1.5em;
                color: #ccc;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

        .wrapper input:checked ~ label:before {
            color: #FFC107;
        }

        .wrapper label:hover ~ label:before {
            color: #ffdb70;
        }

        .wrapper label:hover:before {
            color: #FFC107;
        }
</style>
</html>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="nav-link text-dark" asp-area="" asp-page="/Home">
            <h1>Set Elkol</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Cookers">Cookers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Minishop">Mini Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
                </li>

            </ul>
        </nav><!-- .navbar -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a class="nav-link text-dark" asp-area="" asp-page="/Cart"><i class="fa fa-shopping-cart" asp-area="" asp-page="/Cart"></i></a>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a class="nav-link text-dark" asp-area="" asp-page="/Profile"><i class="bi bi-person-fill-gear"></i></a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-danger" asp-area="" asp-page="/Index">Log Out</a>

        </div>

    </div>
</header>
<body>
    <br />
    <br />
    <br />
    <br />

    <div class="content">
        <h1>5 Stars Rate</h1>
        <span><i class="fa fa-star"></i></span>

    </div>

    <div class="wrapper">
        <input name="ratingRadio" type="radio" id="st1" value="1" />
        <label for="st1"></label>
        <input name="ratingRadio" type="radio" id="st2" value="2" />
        <label for="st2"></label>
        <input name="ratingRadio" type="radio" id="st3" value="3" />
        <label for="st3"></label>
        <input name="ratingRadio" type="radio" id="st4" value="4" />
        <label for="st4"></label>
        <input name="ratingRadio" type="radio" id="st5" value="5" />
        <label for="st5"></label>
    </div>
    <br
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />


</body>