@page
@model Project_DB.Pages.Rating_SuccessModel
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
	<h1>Rating was Successful</h1>
	<h2>Your Rating: @Model.rating</h2>
</div>
